@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply custom scrollbar width globally */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}
/* Firefox */
scrollbar-width: thin;
scrollbar-color: grey white;
